.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-item{
    min-height: 200px;
}
.set-item{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
textarea,
input:not([type="radio"]){
width: 70%;
}
select{
    width: 40%;
}
#used  {
    margin-right: 170px;
}
.button{
    max-width: 20%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}
datalist {
	display: flex;
	justify-content: space-between;
	width: 200px;
}
input[type='range'] {
	width: 200px;
	margin: 0;
}
.range{
    display: flex;
    flex-direction: column;
}